
.page {
    background-color: #00a8e0;
}

.container {
    flex: 1;
    align-items: 'center';
    paddingHorizontal: 20;

}

#login {
    /* background-color: #00a8e0; */
    background-color: white;
}
